* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 50px;
}
/***** MAIN CONTAINER & FORM *****/
.containerletters {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 50px;
  justify-content: flex-start
}
.formbox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
#textbox {
  width: 500px;
}
form {
  margin: 15px 0px 0px 30px;
}
/***** End Section *****/
/***** LETTERS *****/
span {
  text-align: center;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  background-color: #3498DC;
  border: 1px solid black;
  width: 60px;
  margin: 10px 10px 10px;
}
/***** ENDING LETTERS *****/
/***** Message *****/
#message {
  margin: 30px 0px 0px 30px;
}

/***** End Message *****/
